* text=auto !eol
PetriNet2NuSMV/lib/commons-cli-1.2.jar -text
PetriNet2NuSMV/lib/commons-io-2.4.jar -text
PetriNet2NuSMV/lib/jgoodies-common-1.7.0.jar -text
PetriNet2NuSMV/lib/jgoodies-forms-1.7.2.jar -text
PetriNet2NuSMV/model1.xml -text
PetriNet2NuSMV/res/logo.png -text
PetriNet2NuSMV/res/logo_przyciete.png -text
PetriNet2NuSMV/rtcpnc/lib/antlr-2.7.7.jar -text
PetriNet2NuSMV/rtcpnc/lib/antlr-3.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/junit-4.8.1.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-junit-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-codefactory-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-codefactory-java-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-model-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-model-impl-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-model-syntax-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-xml-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/stringtemplate-3.0.jar -text
PetriNet2NuSMV/rtcpnc/maven-archiver/pom.properties -text
PetriNet2NuSMV/rtcpnc/rtcpnc.jar -text
PetriNet2NuSMV/rtcpnc/templates/ArcExpressionPart.st -text
PetriNet2NuSMV/rtcpnc/templates/ArcFile.st -text
PetriNet2NuSMV/rtcpnc/templates/BindingFile.st -text
PetriNet2NuSMV/rtcpnc/templates/BoolTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/EnumFile.st -text
PetriNet2NuSMV/rtcpnc/templates/EnumTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/IntTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/Manifest.st -text
PetriNet2NuSMV/rtcpnc/templates/PlaceFile.st -text
PetriNet2NuSMV/rtcpnc/templates/ProductTokenConstruction.st -text
PetriNet2NuSMV/rtcpnc/templates/ProductTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/SimulatorFile.st -text
PetriNet2NuSMV/rtcpnc/templates/TransitionFile.st -text
PetriNet2NuSMV/simulator/META-INF/MANIFEST.MF -text
PetriNet2NuSMV/simulator/class/simulator/BufferPlace.class -text
PetriNet2NuSMV/simulator/class/simulator/BufferToGet1Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/BufferToGet2Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/BufferToPutArc.class -text
PetriNet2NuSMV/simulator/class/simulator/ClockPlace.class -text
PetriNet2NuSMV/simulator/class/simulator/ClockToGet1Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/ClockToGet2Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/Comp1Binding.class -text
PetriNet2NuSMV/simulator/class/simulator/Comp1Transition.class -text
PetriNet2NuSMV/simulator/class/simulator/Comp2Binding.class -text
PetriNet2NuSMV/simulator/class/simulator/Comp2Transition.class -text
PetriNet2NuSMV/simulator/class/simulator/DataEnum.class -text
PetriNet2NuSMV/simulator/class/simulator/DataToken$1.class -text
PetriNet2NuSMV/simulator/class/simulator/DataToken.class -text
PetriNet2NuSMV/simulator/class/simulator/Get1Binding.class -text
PetriNet2NuSMV/simulator/class/simulator/Get1Transition.class -text
PetriNet2NuSMV/simulator/class/simulator/Get2Binding.class -text
PetriNet2NuSMV/simulator/class/simulator/Get2Transition.class -text
PetriNet2NuSMV/simulator/class/simulator/NumberToken.class -text
PetriNet2NuSMV/simulator/class/simulator/Proc1Place.class -text
PetriNet2NuSMV/simulator/class/simulator/Proc1ToComp1Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/Proc1ToGet1Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/Proc2Place.class -text
PetriNet2NuSMV/simulator/class/simulator/Proc2ToComp2Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/Proc2ToGet2Arc.class -text
PetriNet2NuSMV/simulator/class/simulator/PutBinding.class -text
PetriNet2NuSMV/simulator/class/simulator/PutTransition.class -text
PetriNet2NuSMV/simulator/class/simulator/RtcpNetSimulator.class -text
PetriNet2NuSMV/simulator/class/simulator/SensorPlace.class -text
PetriNet2NuSMV/simulator/class/simulator/SensorToPutArc.class -text
PetriNet2NuSMV/simulator/class/simulator/StateToken.class -text
PetriNet2NuSMV/simulator/lib/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV/simulator/lib/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV/simulator/lib/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV/simulator/lib/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV/simulator/simulator.jar -text
PetriNet2NuSMV/simulator/src/BufferPlace.java -text
PetriNet2NuSMV/simulator/src/BufferToGet1Arc.java -text
PetriNet2NuSMV/simulator/src/BufferToGet2Arc.java -text
PetriNet2NuSMV/simulator/src/BufferToPutArc.java -text
PetriNet2NuSMV/simulator/src/ClockPlace.java -text
PetriNet2NuSMV/simulator/src/ClockToGet1Arc.java -text
PetriNet2NuSMV/simulator/src/ClockToGet2Arc.java -text
PetriNet2NuSMV/simulator/src/Comp1Binding.java -text
PetriNet2NuSMV/simulator/src/Comp1Transition.java -text
PetriNet2NuSMV/simulator/src/Comp2Binding.java -text
PetriNet2NuSMV/simulator/src/Comp2Transition.java -text
PetriNet2NuSMV/simulator/src/DataEnum.java -text
PetriNet2NuSMV/simulator/src/DataToken.java -text
PetriNet2NuSMV/simulator/src/Get1Binding.java -text
PetriNet2NuSMV/simulator/src/Get1Transition.java -text
PetriNet2NuSMV/simulator/src/Get2Binding.java -text
PetriNet2NuSMV/simulator/src/Get2Transition.java -text
PetriNet2NuSMV/simulator/src/NumberToken.java -text
PetriNet2NuSMV/simulator/src/Proc1Place.java -text
PetriNet2NuSMV/simulator/src/Proc1ToComp1Arc.java -text
PetriNet2NuSMV/simulator/src/Proc1ToGet1Arc.java -text
PetriNet2NuSMV/simulator/src/Proc2Place.java -text
PetriNet2NuSMV/simulator/src/Proc2ToComp2Arc.java -text
PetriNet2NuSMV/simulator/src/Proc2ToGet2Arc.java -text
PetriNet2NuSMV/simulator/src/PutBinding.java -text
PetriNet2NuSMV/simulator/src/PutTransition.java -text
PetriNet2NuSMV/simulator/src/RtcpNetSimulator.java -text
PetriNet2NuSMV/simulator/src/SensorPlace.java -text
PetriNet2NuSMV/simulator/src/SensorToPutArc.java -text
PetriNet2NuSMV/simulator/src/StateToken.java -text
PetriNet2NuSMV/src/main/java/META-INF/MANIFEST.MF -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Arc.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/InputErrorException.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Page.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Subpage.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Transition.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/XmlParse.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/XmlWriter.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/AboutDialog.form -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/AboutDialog.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/CPNConsoleApplication.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/ConsoleApplication.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/Petri2NuSMV.form -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/Petri2NuSMV.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/exceptions/ExtensionFilter.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/exceptions/SyntaxException.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/NuSMVCPNGenerator.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/NuSMVGenerator.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/StrRes.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/logger/Logger.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/Parser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/PlaceType.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/ReachabilityGraph.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/State.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/Color.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/ColorType.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/Marking.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/ReachabilityGraph.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/SSNode.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/CPNParser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/CovGraphParserInterface.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/KTSParser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/utils/MarkingParser.java -text
PetriNet2NuSMV/src/main/resources/logo.png -text
