* text=auto !eol
PetriNet2NuSMV[!!-~]Release/Krótka[!!-~]instrukcja[!!-~]obsługi[!!-~]programu[!!-~]PetriNet2NuSMV.pdf -text
PetriNet2NuSMV[!!-~]Release/PetriNet2NuSMV.jar -text
PetriNet2NuSMV[!!-~]Release/przykladowe[!!-~]pliki/model1.dot -text
PetriNet2NuSMV[!!-~]Release/przykladowe[!!-~]pliki/model1.smv -text
PetriNet2NuSMV[!!-~]Release/przykladowe[!!-~]pliki/model1.xml -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/spp_v1.cpn -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/spp_v1.dot -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/spp_v1.xml -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica.cpn -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica.dot -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica.xml -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica2.cpn -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica2.xml -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica3.cpn -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica3.dot -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica3.xml -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica4_blad.cpn -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica_uwzglednienieCzasuNaNacisniecie.cpn -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica_uwzglednienieCzasuNaNacisniecie.dot -text
PetriNet2NuSMV[!!-~]Release/przyklady[!!-~]rtcp/zwrotnica_uwzglednienieCzasuNaNacisniecie.xml -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/antlr-2.7.7.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/antlr-3.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/junit-4.8.1.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-junit-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-codefactory-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-codefactory-java-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-model-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-model-impl-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-model-syntax-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-rtcp-xml-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/runtime/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/lib/stringtemplate-3.0.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/maven-archiver/pom.properties -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/rtcpnc.jar -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/ArcExpressionPart.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/ArcFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/BindingFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/BoolTokenFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/EnumFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/EnumTokenFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/IntTokenFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/Manifest.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/PlaceFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/ProductTokenConstruction.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/ProductTokenFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/SimulatorFile.st -text
PetriNet2NuSMV[!!-~]Release/rtcpnc/templates/TransitionFile.st -text
PetriNet2NuSMV/lib/commons-cli-1.2.jar -text
PetriNet2NuSMV/lib/commons-io-2.4.jar -text
PetriNet2NuSMV/lib/jgoodies-common-1.7.0.jar -text
PetriNet2NuSMV/lib/jgoodies-forms-1.7.2.jar -text
PetriNet2NuSMV/model1.xml -text
PetriNet2NuSMV/przyklady[!!-~]dot/model1.dot -text
PetriNet2NuSMV/przyklady[!!-~]dot/model1.smv -text
PetriNet2NuSMV/przyklady[!!-~]dot/test1.dot -text
PetriNet2NuSMV/przyklady[!!-~]dot/test10.dot -text
PetriNet2NuSMV/przyklady[!!-~]dot/test2.dot -text
PetriNet2NuSMV/przyklady[!!-~]dot/test3.dot -text
PetriNet2NuSMV/przyklady[!!-~]dot/test40.dot -text
PetriNet2NuSMV/res/logo.png -text
PetriNet2NuSMV/res/logo_przyciete.png -text
PetriNet2NuSMV/rtcpnc/lib/antlr-2.7.7.jar -text
PetriNet2NuSMV/rtcpnc/lib/antlr-3.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/junit-4.8.1.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-junit-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-codefactory-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-codefactory-java-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-model-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-model-impl-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-model-syntax-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-rtcp-xml-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-coverability-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-rtcp-runtime-ui-console-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/runtime/pkowalski-utils-1.0.jar -text
PetriNet2NuSMV/rtcpnc/lib/stringtemplate-3.0.jar -text
PetriNet2NuSMV/rtcpnc/maven-archiver/pom.properties -text
PetriNet2NuSMV/rtcpnc/rtcpnc.jar -text
PetriNet2NuSMV/rtcpnc/templates/ArcExpressionPart.st -text
PetriNet2NuSMV/rtcpnc/templates/ArcFile.st -text
PetriNet2NuSMV/rtcpnc/templates/BindingFile.st -text
PetriNet2NuSMV/rtcpnc/templates/BoolTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/EnumFile.st -text
PetriNet2NuSMV/rtcpnc/templates/EnumTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/IntTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/Manifest.st -text
PetriNet2NuSMV/rtcpnc/templates/PlaceFile.st -text
PetriNet2NuSMV/rtcpnc/templates/ProductTokenConstruction.st -text
PetriNet2NuSMV/rtcpnc/templates/ProductTokenFile.st -text
PetriNet2NuSMV/rtcpnc/templates/SimulatorFile.st -text
PetriNet2NuSMV/rtcpnc/templates/TransitionFile.st -text
PetriNet2NuSMV/src/main/java/META-INF/MANIFEST.MF -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Arc.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/InputErrorException.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Page.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Subpage.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/Transition.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/XmlParse.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/cpn2rtcpn/XmlWriter.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/AboutDialog.form -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/AboutDialog.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/CPNConsoleApplication.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/ConsoleApplication.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/Petri2NuSMV.form -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/Petri2NuSMV.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/exceptions/ExtensionFilter.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/exceptions/SyntaxException.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/NuSMVCPNGenerator.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/NuSMVGenerator.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/NuSMVRTCPGenerator.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/generator/StrRes.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/logger/Logger.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/Parser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/PlaceType.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/ReachabilityGraph.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/base/State.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/Color.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/ColorType.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/Marking.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/ReachabilityGraph.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/color/SSNode.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/rtcp/Marking.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/rtcp/Place.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/rtcp/ReachabilityGraph.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/model/rtcp/State.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/CPNParser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/CovGraphParserInterface.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/KTSParser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/parser/RTCPParser.java -text
PetriNet2NuSMV/src/main/java/pl/edu/agh/petrinet2nusmv/utils/MarkingParser.java -text
PetriNet2NuSMV/src/main/resources/logo.png -text
